name: Deploy to GitHub Pages
  
on:
  push:
    branches:
      - main
  
jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
  
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
  
    - name: Install dependencies
      run: npm install hexo-cli -g && npm install && hexo clean && hexo generate && hexo deploy
  
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GH_PAGES_TOKEN }}
        publish_dir: ./public
